@use "../../styles/variables" as *;
.formStyling {
  display: flex;
  flex-direction: column;

  div {
    margin-top: 2vw;
    display: flex;
    align-items: center;

    input {
      background: radial-gradient(closest-side, #990101, #c40303, $red);
      border: none;
      color: white;
      padding: 1vw 2vw;
      border-radius: 5px;
      filter: drop-shadow(5px 5px 5px #00000015);
      max-width: fit-content;

    }

    button {
      background: radial-gradient(closest-side, #990101, #c40303, $red);
      border: none;
      color: white;
      border-radius: 5px;
      filter: drop-shadow(5px 5px 5px #00000015);
      width: 20%;
      margin-left: 2vw;
      padding: 1vw;

    }
  }
}
