.destinationNav {
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 38%,
    rgba(235, 235, 235, 1) 62%
  );

  nav {
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
      display: flex;

      li {
        list-style: none;
        padding: 1vw 2vw;
        a{
            color: black;
        }

        &:hover{

            a{
                color: red;
            }
        }
      }
    }
  }
}
