.destinationNav {
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 38%,
    rgba(235, 235, 235, 1) 62%
  );

  nav {
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
      display: flex;

      li {
        list-style: none;
        padding: 1vw 2vw;
        a{
            color: black;
        }

        &:hover{

            a{
                color: red;
            }
        }
      }
    }
  }

  @media screen and (max-width: 1050px){

    nav{
      background-color: white;

      ul{
          li{
            padding: 1vw 4vw;
          }
      }
    }

  }

  @media screen and (max-width: 750px){

    nav{
      background-color: white;
      justify-content: flex-start;

      ul{
        flex-direction: column;
          li{
            padding: 3vw 4vw;
          }
      }
    }

  }
}
