.InputStyling {
  margin: 1vw 1vw;

  label {
    margin-bottom: 0.5vw;
  }

  input {
    padding: 0.5vw 1vw;
    border-radius: 5px;
    outline: none;
  }

  select {
    border-radius: 5px;
    padding: 0.5vw 1vw;
  }
}
