@use "../../styles/variables" as *;

.navStyling {
  ul {
    display: flex;
    flex-direction: row;
    margin-top: 3vw;

    li {
      list-style: none;
      padding: 0 1.5vw;
      border-right: 1px solid $white;
      font-weight: 600;

      &:last-of-type {
        border-right: none;
      }

      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;

        &.activeNavlink {
          color: red;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.16);
    background-color: #333;

    ul {
      flex-direction: column;

      li {
        padding: 2vw 4vw;
        text-align: center;
      }
    }
  }
}
