@use "../../styles/variables" as *;

.navStyling {
  ul {
    display: flex;
    flex-direction: row;
    margin-top: 3vw;

    li {
      list-style: none;
      padding: 0 1.5vw;
      border-right: 1px solid $white;
      font-weight: 600;

      &:last-of-type {
        border-right: none;
      }

      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;

        &.activeNavlink {
          color: red;
        }
      }
    }
  }

  @media screen and (max-width: 1300px) {
    ul {
      li {
        padding: 0 2vw;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    ul {
      li {
        padding: 0 1.5vw;
      }
    }
  }

  @media screen and (max-width: 750px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $black;
    z-index: 9999;

    ul {
      flex-direction: column;

      li {
        padding: 4vw 4vw;
        text-align: center;
      }
    }
  }
}
