.footerStyling{
    background-color: white;
    display: flex;

    article{
        display: flex;
        flex-direction: row;

        ul{
            display: flex;
            list-style: none;
            color: grey;
        }
    }
}