.sideBar{
    border-left: 2px solid darkgray;
    margin-left: 4vw;

    padding-left: 2vw;

    ul{
        margin-top: 1vw;
        li{
            list-style: none;

            a{
                color: black;
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 750px){
        border-left: none;
        border-top: 2px solid darkgray;
        margin-left: 0;
        margin-top: 4vw;
    }
}