@use "../../styles/variables" as *;
//Basestyling
.sectionStyling {
  padding: 4vw 8vw;
  display: block;
  margin: auto;
  min-height: 70vh;

  @media screen and (max-width: 1300px){
    padding: 4vw 6vw;
  }

  @media screen and (max-width: 1050px){
    padding: 8vw 4vw;
  }

  @media screen and (max-width: 750px){
    padding: 8vw 2vw;
  }
}

//Custom

.singleNews {
  img {
    width: 100%;
  }
  span {
    display: flex;
    justify-content: space-between;
    position: relative;

    a {
      font-size: 1.7vw;
      color: black;
      text-decoration: none;
      margin: auto 0 auto auto;

      svg {
        vertical-align: -4px;
      }

      @media screen and (max-width: 1300px) {
        font-size: 2vw;

        svg {
          vertical-align: -3px;
        }
      }

      @media screen and (max-width: 1050px) {
        font-size: 2.2vw;

        svg {
          vertical-align: -3px;
        }
      }

      @media screen and (max-width: 750px) {
        font-size: 4vw;
        position: absolute;
        top: -50%;
        right: 0%;

        svg {
          vertical-align: -3px;
        }
      }
    }
  }

  h6 {
    font-weight: 500;
    &:first-of-type {
      font-style: italic;
      margin-bottom: 1vw;
    }

    &:last-of-type {
      font-style: italic;
      margin-top: 2vw;
    }
  }
}

.login {
  padding: 4vw 6vw;
  margin: 1vw;

  section {
    display: grid;
    grid-template-columns: 3fr 1fr;

    h3 {
      margin-bottom: 2vw;
      font-size: 2vw;
      font-weight: 500;
    }

    article {
      &:first-of-type {
        border-right: 2px solid rgb(71, 70, 70);
        padding-bottom: 17vw;
      }

      &:nth-of-type(2) {
        padding-left: 2vw;
        padding-bottom: 23vw;

        button {
          padding: 1vw 2vw;
          color: white;
          border-radius: 5px;
          margin-top: 5vw;
        }
      }
    }

    h6 {
      margin-bottom: 1vw;
    }

    input {
      margin-bottom: 1vw;
      width: 70%;
    }
  }
}

.destinations {
  section{
    min-height: 60vh;
  }
  article {
    padding-left: 3vw;

    h3 {
      &:nth-of-type(2) {
        margin-top: 2vw;
      }
    }

    p {
      svg {
        margin-top: 1vw;
        width: 1vw;
        height: 1vw;
        margin-right: 0.3vw;
      }
    }

    ul {
      li {
        padding: 0.5vw 0;
      }
    }
  }

  h3{
    margin-bottom: 1vw;
  }

  h6{
    margin-bottom: 1vw;
  }

  span {
    h3 {
      margin-bottom: 2vw;
      margin-top: 0;
    }

    h6 {
      margin-bottom: 2vw;
    }

    p {
      margin-bottom: 2vw;
    }

    h4 {
      margin-bottom: 2vw;
    }
  }
}
.signup {
  form {
    width: 70%;
    padding-top: 2vw;

    span {
      margin-bottom: 1vw;
    }
  }
}

.review {
  h3 {
    margin-bottom: 2vw;
  }

  h6 {
    margin-bottom: 2vw;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 70%;

    span {
      &:nth-of-type(2) {
        textarea {
          height: 10vh;
          font-family: sans-serif;
          border-radius: 5px;
          padding: 1vw;
        }
      }
    }

    div {
      display: flex;
      align-items: flex-start;
      margin-top: 1vw;

      input {
        &:nth-of-type(1) {
          margin-top: -0.6vw;
        }
      }
    }
  }
}
